// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */
 
 #define rk3588
 #include "rk3588-firefly-port.dtsi"
 #include "rk3588-diff.dtsi"
 

 / {
	/* "Check-Version" is for compatible with multiple devices. Delete it if you do not need it */
        check_version: check-version {
                compatible = "check-version";
		dtb-name = "roc-rk3588-rt";
                u-boot,dm-pre-reloc;
                io-channels = <&saradc 4>;
                version-num = <3>;
                version-adc-range0 = <1800 2200>;
                version-dtb-path0 = "ext";
                version-adc-range1 = <1200 1500>;
                version-dtb-path1 = "10g-ext";
                //version-adc-range2 = <3950 4150>;
                //version-dtb-path2 = "v13";
		//status = "disabled";
        };

	vcc3v3_pcie20_eth0: vcc3v3-pcie20-eth0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie20_eth0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v_dcin>;
	};
        vcc3v3_pcie20_wifi: vcc3v3-pcie20-wifi {
                compatible = "regulator-fixed";
                regulator-name = "vcc3v3_pcie20_wifi";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                enable-active-high;
                gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_HIGH>; /* wifi_reg_on管脚 */
                startup-delay-us = <5000>;
                vin-supply = <&vcc12v_dcin>;
        };
	/* FAN */
	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		fan-supply = <&vcc5v0_sys>;
		pwms = <&pwm15 0 50000 0>;
		cooling-levels = <0 85/*1*/ 95 105 115 125 135 145 155/*8*/ 165 175 185 195 205 215 225 235 245 255/*18*/>;
	};

	/*For ext board public overlay -> start*/
	reset_ctrl_4_5g: reset-ctrlt_4_5g {		/* on ext board */
		status = "disabled";
	};	
	vcc3v3_sys_ext: vcc3v3-sys-ext {		/* on ext board */
		status = "disabled";
	};
	vcc5v0_sys_ext: vcc5v0-sys-ext {		/* on ext board */
		status = "disabled";
	};
	vcc3v8_4g_ext: vcc3v8-4g-ext {			/* on ext board */
		status = "disabled";
	};
	/*For ext board public overlay <- end*/

	/*For ext-usb3 board overlay -> start*/
	vcc_hub3_reset_ext: vcc-hub3-reset-ext {	/* on ext board */
		status = "disabled"; 
	};
	usb3_host_ext: usb3-host-ext {	/* on ext board */
		status = "disabled";		
	};	
	/*For ext-usb3 board overlay <- end*/


	/*For ext-switch board overlay -> start*/
	dvddio_rtl8367n_power_ext: dvddio-rtl8367n-power-ext {	/* on ext board */
		status = "disabled";
	};
	avddl_rtl8367n_power_ext: avddl-rtl8367n-power-ext {	/* on ext board */
		status = "disabled";		
	};
	/*For ext-switch board overlay <- end*/

	/*For bp-dsi display overlay -> start*/
	backlight: backlight {
		status = "disabled";
	};
	/*For bp-dsi display overlay <- end*/

  /*For ext-mdp board overlay ->start*/
  
  spdif_tx0_dc: spdif-tx0-dc{
	  	status = "disabled";
  };

  spdif_tx0_sound: spdif_tx0_sound{
  		status = "disabled";
  };

  vcc_lt8668_3v3en: vcc-lt8668-3v3en{
   status = "disabled";
  };

  vcc_lt8668_1v1en: vcc-lt8668-1v1en{
  	status = "disabled";
  };

  vcc_lt8668_reset: vcc-lt8668-reset{
    status = "disabled";
  };
  /*For ext-mdp board overlay <- end */
};

&center_thermal {
       thermal-governor = "step_wise";
       polling-delay-passive = <20>; /* milliseconds */
       polling-delay = <1000>; /* milliseconds */

       //thermal-sensors = <&tsadc 0>;
       trips {
               fan_alert0: trip-point-0 {
                       temperature = <30000>;
                       hysteresis = <2000>;
                       type = "active";
               };
               fan_alert1: trip-point-1 {
                       temperature = <50000>;
                       hysteresis = <2000>;
                       type = "active";
               };
               fan_alert2: trip-point-2 {
                       temperature = <60000>;
                       hysteresis = <2000>;
                       type = "active";
               };
               fan_alert3: trip-point-3 {
                       temperature = <70000>;
                       hysteresis = <2000>;
                       type = "active";
               };
       };
       cooling-maps {
               map0 {
                  trip = <&fan_alert0>;
                  cooling-device = <&fan THERMAL_NO_LIMIT 1>;
                  contribution = <1024>;
               };
               map1 {
                       trip = <&fan_alert1>;
                       cooling-device = <&fan 1 8>;
                       contribution = <1024>;
               };
               map2 {
                       trip = <&fan_alert2>;
                       cooling-device = <&fan 1 18>;
                       contribution = <1024>;
               };
               map3 {
                       trip = <&fan_alert3>;
                       cooling-device = <&fan 18 THERMAL_NO_LIMIT>;
                       contribution = <1024>;
               };
       };
};

/* FAN */
&vcc_fan_pwr_en{
	status = "disabled";
	gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;  
};
&pwm1{
	pinctrl-0 = <&pwm1m0_pins>;
	status = "disabled";
};
&pwm15{
	pinctrl-0 = <&pwm15m2_pins>;
	status = "okay";	
};
/* Led */
&power_led{
       gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
       pinctrl-names = "default";
       pinctrl-0 = <&led_power>;
};

&user_led{
       gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
       pinctrl-names = "default";
       pinctrl-0 = <&led_user>;
};

/* tf-card */
&sdmmc {
	status = "okay";
};

&vcc_sdcard_pwr_en{
	gpio = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>; 
	status = "okay";	
};

/* es8323 audio codec */
&es8388_sound{
	status = "okay";
	firefly,not-use-dapm;
	hp-det-gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
	/delete-property/ spk-con-gpio;
        /delete-property/ pinctrl-names;
        /delete-property/ pinctrl-0;
	hp-con-gpio = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
};
&es8388{
	status = "okay";
};

&i2s0_8ch{
	status = "okay";
};

/* hdmi0 */
&hdmi0 {
	enable-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi0_in_vp0 {
	status = "okay";
};

&hdmi0_sound {
	status = "okay";
};

&hdptxphy_hdmi0 {
	status = "okay";
};

&route_hdmi0{
	status = "okay";
};

/* hdmi1 */
&hdmi1 {
	enable-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi1_sound {
	status = "okay";
};

&hdmi1_in_vp1 {
        status = "okay";
};

&hdptxphy_hdmi1 {
	status = "okay";
};

&route_hdmi1{
	status = "okay";
	connect = <&vp1_out_hdmi1>;
};

&display_subsystem {
       clocks = <&hdptxphy_hdmi_clk0>, <&hdptxphy_hdmi_clk1>;
       clock-names = "hdmi0_phy_pll", "hdmi1_phy_pll";
};

&hdptxphy_hdmi_clk0 {
       status = "okay";
};

&hdptxphy_hdmi_clk1 {
       status = "okay";
};

/* gamc0 */
&gmac0 {
	snps,reset-gpio = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
	tx_delay = <0x47>;
	status = "okay";
};

&gmac0_tx_bus2{
    rockchip,pins =
    /* gmac0_txd0 */
    <2 RK_PB6 1 &pcfg_pull_up_drv_level_6>,
    /* gmac0_txd1 */
    <2 RK_PB7 1 &pcfg_pull_up_drv_level_6>,
    /* gmac0_txen */
    <2 RK_PC0 1 &pcfg_pull_none>;
};

&gmac0_rgmii_bus{
	rockchip,pins =
	/* gmac0_rxd2 */
	<2 RK_PA6 1 &pcfg_pull_none>,
	/* gmac0_rxd3 */
	<2 RK_PA7 1 &pcfg_pull_none>,
	/* gmac0_txd2 */
	<2 RK_PB1 1 &pcfg_pull_up_drv_level_6>,
	/* gmac0_txd3 */
	<2 RK_PB2 1 &pcfg_pull_up_drv_level_6>;
};

/* gmac1 */
&gmac1 {
        snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
        tx_delay = <0x42>;
        status = "okay";
};

&gmac1_tx_bus2{
        rockchip,pins =
        /* gmac1_txd0 */
        <3 RK_PB3 1 &pcfg_pull_up_drv_level_6>,
    /* gmac1_txd1 */
        <3 RK_PB4 1 &pcfg_pull_up_drv_level_6>,
        /* gmac1_txen */
        <3 RK_PB5 1 &pcfg_pull_none>;
};

&gmac1_rgmii_bus{
        rockchip,pins =
        /* gmac1_rxd2 */
        <3 RK_PA2 1 &pcfg_pull_none>,
        /* gmac1_rxd3 */
        <3 RK_PA3 1 &pcfg_pull_none>,
        /* gmac1_txd2 */
        <3 RK_PA0 1 &pcfg_pull_up_drv_level_6>,
        /* gmac1_txd3 */
        <3 RK_PA1 1 &pcfg_pull_up_drv_level_6>;
};

/* ETH */
&sata0 {
        status = "disabled";
};

&combphy0_ps {
	status = "okay";
};

&pcie2x1l2{
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	rockchip,perst-inactive-ms = <400>;
	vpcie3v3-supply = <&vcc3v3_pcie20_eth0>;
	status = "okay";
};

&wireless_bluetooth{
        status = "disabled";
};
/* wifi */
&wireless_wlan{
        wifi_chip_type = "rtl8822ce";
        pinctrl-0 = <&wifi_poweren_gpio>;
	/delete-property/ WIFI,poweren_gpio;
    /delete-property/ WIFI,host_wake_irq;
        status = "disabled";
};

&combphy1_ps {
    status = "okay";
};

&pcie2x1l0{
    reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
    vpcie3v3-supply = <&vcc3v3_pcie20_wifi>;
    rockchip,skip-scan-in-resume;
    rockchip,perst-inactive-ms = <500>;
    status = "okay";
};

#if 1
/* M2_SATA */
&sata2 {
    status = "okay";
};

&pcie2x1l1{
    status = "disabled";
};

#else

/* M2_PCIE */
&sata2 {
    status = "disabled";
};

&pcie2x1l1{
    reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
    rockchip,skip-scan-in-resume;
    vpcie3v3-supply = <&vcc_sata_pwr_en>;
    rockchip,perst-inactive-ms = <600>;
    status = "okay";
};
#endif

&combphy2_psu {
    status = "okay";
};

&vcc_sata_pwr_en{
    status = "okay";
    gpio = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>;
    regulator-min-microvolt = <3300000>;
    regulator-max-microvolt = <3300000>;
    regulator-always-on;
    enable-active-high;
    startup-delay-us = <5000>;
    vin-supply = <&vcc12v_dcin>;
};

/* usb power */

&vcc_hub3_reset{
	compatible = "regulator-fixed-firefly";
	regulator-fixed-kernel-reset-ms = <3000>;
	status = "disabled";
};

&vcc5v0_host3{
	gpio = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;  
	status = "okay";
};

&vcc5v0_host{
	gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;  
	status = "okay";
};

&u2phy1_otg { 
       phy-supply = <&vcc5v0_host3>; 
};
&u2phy2_host { 
       phy-supply = <&vcc5v0_host>; 
}; 

&u2phy3_host { 
       phy-supply = <&vcc5v0_host>; 
};

&usbhost3_0{
	status = "disabled";
};
&usbhost_dwc3_0{
	status = "disabled";
};

&i2c0 {
       pinctrl-0 = <&i2c0m2_xfer>;
       pc9202@3c {
               status = "okay";
               compatible = "firefly,pc9202";
               reg = <0x3c>;
               wd-en-gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_LOW>;
       };
};

/* i2c6: delete some dual-defined nodes */
&i2c6 {
	clock-frequency = <400000>; // For others Display Port Screen
	status = "okay";
	///delete-node/ gpio@21;
    pca9555: gpio@21 {
        status = "disabled";
    };
};

/* rtc */
&hym8563{
	interrupt-parent = <&gpio0>;
	interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
	status = "okay";
};

&usbc0{
	status = "okay";
	interrupt-parent = <&gpio0>;
	interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
};


/* display port0 */
&spdif_tx2{
	status = "okay";
};

&dp0_sound{
	status = "okay";
};

&dp0 {
	status = "okay";
};

&dp0_in_vp2 {
	status = "okay";
};

&vbus5v0_typec_pwr_en{
	status = "okay";
    regulator-boot-on;
	gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>; 
};

/* Key : Recovery */
&adc_keys{
	status = "okay";
	recovery-key{
		label = "F12";
		linux,code = <KEY_F12>;
		press-threshold-microvolt = <642000>;
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m0_xfer>;
	clock-frequency = <400000>;
};

/* uart7 */
&uart7 {
	status = "disabled";
	pinctrl-0 = <&uart7m2_xfer>;
};

/* pinctrl */
&pinctrl {
	leds {
		led_power: led-power {
			rockchip,pins = <1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		led_user: led-user{
			rockchip,pins = <1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
 	};
        headphone {
                hp_det: hp-det {
                        rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

	/delete-node/ headphone;
        hdmirx {
                hdmirx_det: hdmirx-det {
                        rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };

	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb-typec { 
		usbc0_int: usbc0-int { 
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>; 
		}; 
	};

	wireless-bluetooth {
		uart6_gpios: uart6-gpios {
			rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_reset_gpio: bt-reset-gpio {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_gpio: bt-wake-gpio {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_irq_gpio: bt-irq-gpio {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-wlan {
		wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <2 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
